<div class="d-flex">
  <div class="container">
  <h1>Cocktails</h1>
    <ul class="list-group">
      <% @cocktails.each do |cocktail| %>
        <li class="list-group-item shadow p-3 mb-2 bg-body rounded">
          <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<%= link_to 'Create new Cocktail', new_cocktail_path %>

